@layer components {
  .footer {
    --lineHeightBody: 1.1;

    width: 100%;
    padding: var(--space3XL) 0;
    z-index: var(--zIndex2);
    position: relative;
    color: var(--textLight);
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  .link {
    display: inline-flex;
  }

  .date {
    padding-right: var(--spaceXS);
    display: inline-flex;
  }

  .tagline {
    width: 100%;
    margin-top: var(--spaceS);
    color: var(--textLight);
  }
}
