@layer layout {
  .navbar {
    --headerNavFontSize: calc((16 / 16) * 1rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spaceL);
    padding: var(--spaceS) 0;
    width: calc(var(--space2XL) + var(--spaceM));
    position: fixed;
    top: var(--spaceOuter);
    left: var(--spaceOuter);
    bottom: var(--spaceOuter);
    z-index: var(--zIndex4);
    isolation: isolate;

    @media (--mediaMobile) {
      --headerNavFontSize: calc((22 / 16) * 1rem);
    }

    @media (--mediaMobile), (--mediaMobileLS) {
      bottom: auto;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 auto;
    gap: var(--spaceL);
    max-width: calc(var(--space2XL) + var(--spaceM));

    @media (--mediaMobile), (--mediaMobileLS) {
      display: none;
    }
  }

  .navList {
    transform: rotate(180deg);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    writing-mode: vertical-lr;
    align-items: center;
    gap: var(--spaceS);
  }

  .navLink {
    padding: var(--spaceS) var(--spaceM);
    color: color-mix(in lab, var(--text) 80%, transparent);
    font-weight: var(--fontWeightMedium);
    font-size: var(--headerNavFontSize);
    text-decoration: none;
    position: relative;
    transition: color var(--durationS) ease 0.1s;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    border-radius: var(--spaceXS);

    &:hover,
    &:active,
    &[aria-current='page'] {
      color: var(--textBody);
    }
  }

  .navFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceM);
  }

  .navIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: var(--zIndex2);
    gap: var(--spaceXS);

    @media (--mediaMobile), (--mediaMobileLS) {
      flex-direction: row;
      position: static;
    }

    @media (max-width: 820px) and (max-height: 420px) {
      transform: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .navIconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spaceS);
    width: var(--space2XL);
    height: var(--space2XL);
    color: var(--textLight);
    transition: color var(--durationM) var(--bezierFastoutSlowin);

    &:hover,
    &:active {
      color: var(--accent);
    }
  }

  .navIcon {
    fill: currentColor;
    transition: fill var(--durationM) ease;
  }

  .mobileNav {
    --backdrop: blur(24px) saturate(120%);

    position: fixed;
    inset: 0;
    background: color-mix(in lab, var(--background) 70%, transparent);
    transform: translate3d(0, -100%, 0);
    transition-property: background;
    transition-duration: var(--durationL);
    transition-timing-function: var(--bezierFastoutSlowin);
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    -webkit-backdrop-filter: var(--backdrop);
    backdrop-filter: var(--backdrop);
    padding: var(--space3XL) var(--space2XL);
    gap: var(--spaceM);

    @media (--mediaMobile), (--mediaMobileLS) {
      display: flex;
    }

    @media (--mediaUseMotion) {
      transition-property: transform, background;
    }

    &[data-visible='true'] {
      transform: none;
    }
  }

  .mobileNavContent {
    display: flex;
    flex-direction: column;
    gap: var(--spaceM);
    align-items: center;
  }

  .mobileNavLink {
    width: 100%;
    font-size: var(--headerNavFontSize);
    text-align: center;
    text-decoration: none;
    color: var(--textBody);
    padding: var(--spaceL);
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--durationS);
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-delay: var(--transitionDelay);
    position: relative;
    top: calc(var(--spaceM) * -1);

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, calc(var(--spaceXL) * -1), 0);
    }

    @media (max-width: 820px) and (max-height: 420px) {
      top: auto;
    }

    @media (--mediaMobileS), (max-height: 360px) {
      --headerNavFontSize: calc((18 / 16) * 1rem);
    }

    &[data-visible='true'] {
      opacity: 1;
      transform: none;
    }
  }

  .mobileActions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spaceM);
    align-items: center;
  }
}
