.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: clamp(1.5rem, 4vw, 2.75rem);
  padding-right: clamp(1.5rem, 4vw, 2.75rem);

  @media (--mediaDesktop) {
    max-width: 980px;
  }

  @media (--mediaLaptop) {
    max-width: 820px;
  }
}
